
/*共通*/
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  height: auto;
}

/* body　全体フォント、間隔*/
body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro",
    "Yu Gothic Medium", "游ゴシック Medium", sans-serif;
  line-height: 1.6;
}

/* リンク　ホバー設定 */
a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

/*index以外の共通上部画像*/
.page-mv {
  height: 250px;
  font-size:32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: url(../img/mv.png) center / cover;
}

h2{
  font-size: 30px;
  color: rgb(0,0,0);
}
h3{
  font-size: 16px;
  color:#000000;
}

p{
 color: rgb(0,0,0);

}


.wrap {
  width: 85%;
}

.wrap-s {
  width: 90%;
}


/*-------------------header部分---------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}

.header-ttl {
  font-size: 24px;
  width: 80px;
}

.header-nav-list {
  display: flex;
  font-weight: bold;
}

.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

.menu {
  display: none;
}

.drawer-nav {
  display: none;
}





/*メインコンテンツ*/

/*----------------eyecatch部分-----------------*/
.eyecatch{
  width:100%;
  height:auto;
  position: relative;
}
.eyecatch--copy{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding:0;
  margin:0;
  font-size:30px;
  color: rgb(255, 254, 254);
}
.eyecatchtitle--copytxt1{
  font-size:40px;
 
}
.eyecatchtitle--copytxt2{
  font-size:20px;

}

/*----------------株式会社TECHの想い部分------------------------*/
.companyabout{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding: 0 30px;
  background-color: #000000;
  color: rgb(255, 255, 255);
}
.compansyabout__title{

}
.companyabout__title--copy1{
  font-size:30px;
 
}
.companyabout__title--copy2{
  font-size:16px;
  line-height: 24px
}


/*----------------Service部分------------------------*/
.services-ttl{
  text-align: center;
}

.services-list{
  display: flex;
  flex-wrap: wrap;
  
}

.services-item{
  width: 49%;
  margin-top: 20px;
  margin-right: calc(100% - (49% * 2));
}

.services-item:nth-child(2n){
  margin-right: 0;
}

.services-item-ttl{
  font-weight: bold;
  font-size: 18px;
}

.services-btn{
  margin: 40px auto 0;
}

.wrap {
  width: 85%;
  margin: 0 auto;
}

.wrap-s {
  width: 75%;
  margin: 0 auto;
}

.ptb-m {
  padding: 80px 0;
}

/*----------------blog部分------------------------*/
.blogs-ttl{
  text-align: center;
}

.blogs-list{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.blogs-item{
  width: 32%;
  margin-right: calc((100% - (32% * 3)) / 2);
}

.blogs-item:nth-child(3n){
  margin-right: 0;
}

.blogs-item-date{
  margin-top: 5px;
  margin-right: 20px;
  font-size: 14px;
}

.blogs-item-ttl{
  font-weight: bold;
  font-size: 18px;
}

.blogs-btn{
  margin: 40px auto 0;
}


/*----------------会社概要部分------------------------*/
.company-list{
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding-top: 0;
}

/*色*/
.company-link{
  background-color: #cd0224;
}

/*高さ*/
.company-item-link{
  display: inline-block;
  width: 100%;
  line-height: 10;
  text-align: center;
}


/*----------------お問い合わせ部分------------------------*/
.contacts {
  background-color: #f5f6f9;
  text-align: center;
}

.contacts-txt {
  margin-top: 10px;
}

.contacts-btn {
  margin: 40px auto 0;
}

/* モーダル部分 */

.openBtn {
  cursor: pointer;
  color: #fff;
  border: none;
  background-color: #cd0224;
}

.modal {
  display: none;
  position: fixed;
  left: 0%;
  top: 0%;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal__content-inner {
  background-color: white;
  height: 750px;
  width: 700px;
  text-align: left;
  padding: 20px;
}

.modal__closeBtn {
  text-align: right;
}

.closeBtn {
  border: none;
  background-color: white;
  font-size: 32px;
  cursor: pointer;
}

/* お問い合わせ　*/

.top-contact-ttl {
  text-align: center;
}

.contact-form-item:not(:first-child) {
  margin-top: 20px;
}

.contact-form-item-name {
  font-weight: bold;
}

.contact-form-item-input {
  margin-top: 5px;
  font-size: 16px;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contact-form-item-textarea {
  font-size: 16px;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  resize: none;
}

.contact-form-item-required {
  color: #cd0224;
  margin-left: 5px;
}

.contact-form-submit {
  width: 300px;
  margin: 20px auto 0;
  padding: 10px;
  border: none;
  display: block;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}



/*----------------ボタン部分------------------------*/

.btn {
  display: block;
  width: 300px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #cd0224;
  color: #fff;
}


/*----------------footer部分------------------------*/
.footer {
  padding: 20px 0;
  color: #fff;
  background-color: #222;
}

.footer-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  width: 85%;
}


.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-nav-item:after {
  content: "|";
  display: inline-block;
  padding: 0 10px;
}

/*最後の要素は表示しない*/
.footer-nav-item:last-child:after {
  display: none;
}
  
/* scropll-top */

.scroll-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #999;
  opacity: .8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: #fff;
  cursor: pointer;
}

/*--------------サービス部分-----------------*/

.service-item{
	padding: 20px 0;
	border-top: 1px solid #222;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.service-item:last-child{
	border-bottom: 1px solid #222;
}

.service-item-img{
	width: 290px;
}

.service-item-detail{
	width: calc(100% - 330px);
}

.service-item-ttl{
	font-size: 24px;
	font-weight: bold;
}

@media screen and (max-width: 768px){
  .service-item-detail{
    width: 100%;
  }

  .service-item-img{
    width: 100%;
  }
}
  
/*--------------blog部分-----------------*/
.blog-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.blog-item{
  width: 32%;
  margin-right: calc((100% - (32% * 3)) / 2);
	margin-top: 20px;
}

.blog-item:nth-child(3n){
  margin-right: 0;
}

.blog-item-date{
  font-size: 14px;
  margin-top: 5px;
}

.blog-item-ttl{
  font-weight: bold;
  font-size: 18px;
}
/*---PC以外での表示--*/

@media screen and (max-width: 768px){
  .blog-item{
    width: 100%;
    margin-right: 0;
  }

  .blog-item:first-child{
    margin-top: 0;
  }
}


/*--------------company部分-----------------*/
.company-info{
  width: 100%;
	border-bottom: 1px solid #222;
}

.company-info-name,
.company-info-data{
	border-top: 1px solid #222;
	padding: 20px 0;
}

.company-info-name{
	font-weight: bold;
	width: 30%;
}

.company-info-data{
	width: 70%;
}



/*---スマホでの表示設定--*/
/*レスポンシブデザイン（ブレークポイント：768px）*/

@media screen and (max-width: 768px) {
  .wrap {
    width: 85%;
  }

  .wrap-s {
    width: 90%;
  }

  .header-nav {
    display: none;
  }

  .menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }

  .menu-line-top,
  .menu-line-middle,
  .menu-line-bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }

  .menu-line-top {
    top: 0;
  }

  .menu-line-middle {
    top: 14px;
  }

  .menu-line-bottom {
    bottom: 0;
  }

  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }

  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }

  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }

  .drawer-nav {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #fff;
    transition: .7s;
  }

  .drawer-nav-list {
    padding-top: 80px;
    text-align: center;
  }

  .drawer-nav-item {
    margin-top: 40px;
    color: #0033cc;
    font-size: 18px;
  }

  .in {
    transform: translateX(100%);
  }

  .modal__content-inner {
    width: 90%;
  }

  .footer-copyright {
    width: 50%;
    text-align: center;
  }
  
  .footer-nav {
    width: 50%;
  }

/* |　を　表示しない*/
  .footer-nav-item {
    text-align: center;
    margin-top: 10px;
    width: 100%;
  }

  .footer-nav-item:after {
    display: none;
  }
}
