a {
  text-decoration: none;
  color: inherit;
}

/*-------------------header部分---------------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: rgb(255, 255, 255);
  color: rgb(117,117,117);
}
.header-ttl {
  font-size: 24px;
  width: 80px;
}
.header-nav-list {
  display: flex;
  font-weight: bold;
}

.header-nav-item:not(:last-child) {
  margin-right: 30px;
}


h2{
  font-size: 24px;
  color: rgb(117,117,117);
}
h3{
  font-family: 'Indie Flower';
  font-size: 24px;
  color:#c319f7;
}

p{
 color: rgb(117,117,117);

}

/*メインコンテンツ*/

/*----------------eyecatch部分-----------------*/
.eyecatch-img {
  width: 100%;
  height: 100%;
  display: block;
}
.eyecatch__title_copy1 {
  font-family: 'Indie Flower';font-size: 22px;
  position: absolute;
  bottom: 300px;
  left:160px;
  font-size: 60px;
  color: rgb(179,22,103);
  inline-size: 550px;
  overflow-wrap: break-word;
}

.emphasis{
  font-weight: bold;
  color: rgb(37, 161, 192);
}

.eyecatch__title_copy2 {
  position: absolute;
  bottom: 250px;
  left:160px;
  font-size: 24px;
  color: #740396;
  inline-size: 350px;
  overflow-wrap: break-word;
}
.eyecatch__title_copy3 {
  position: absolute;
  bottom: 210px;
  left:160px;
  font-size: 16px;
  color:  rgb(117,117,117);
  inline-size: 300px;
  overflow-wrap: break-word;
}

.eyecatch {
  position: relative;
}
.eyecatch-img-container {
  width: 70%;
  margin: 10px 0 0 auto;
}

/*----------------news部分------------------*/
.news{
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
.news-title1{
  font-family: 'Indie Flower', cursive;
}
ul{
  list-style: none;
}
.news-item{
  border-top: 1px solid  rgb(117,117,117);
  border-bottom: 1px solid  rgb(117,117,117);
  color: rgb(117,117,117);
  inline-size: 800px;
  padding: 20px 0;
  
  text-align: left;
  

}

.news-item__news {
  display:inline-block;
  width:80px;
  height:15px;
  line-height:20px;
  text-decoration: none;
  background: rgb(179,22,103);
  text-align:center;
  border:6px solid rgb(179,22,103);
  color:#FFFFFF;
  font-size:14px;
  font-weight:bold;
  border-radius:35px;
  -webkit-border-radius:35px;
  -moz-border-radius:35px;
  transition: all 0.5s ease;
}

/*-----------------about部分-------------------*/

.about1 {
  background-color: rgb(245,245,245);
  padding: 40px 0;
  margin-top: 100px;
  text-align: center;
  }

.center{
  padding: 0px 00;
  margin-top: 0px;
  text-align: center;
  width:90%;
}


.layout {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  gap: 1px;
}

.about {
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
}

.about__img img {
  width: 90%;
}

.about__img {
  margin-top: 0px;
  margin-right: 120px;

  width: 35%;
}

.about__content {
  width: 25%;
  line-height:25px;
  margin-left: 90px;
  text-align: left;
}


/*----------------service部分----------------*/
.service{
  width:70%;
  margin:0px 0px 30px 200px;
  font-size: px;
  font-weight: normal;
  text-align: left; 
  padding: 90px 0;
}

.service__info{
  display: flex; 
}


.service__info-1-img{
  margin-top: 50px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  
}

.service__info-2-img{
  width: 20%;
  float:left;
  margin-right:50px;
}
.service__info-3-img{
  width: 20%;
  float:left;
  margin-right:50px;
}

.service__info-1{
  padding: 50px 0;
  margin-top: 0px;
  inline-size: 500px;
  background-color: rgb(179,22,103)

}
.sievice__info-1-t1{
  color:white;
  text-align: center;
  font-weight: bold;
}

.sievice__info-1-t2{
  inline-size: 80%;
  color:white;
  margin-left: auto;
  margin-right: auto;
  
}

.service__info-2{
  padding: 50px 0;
  margin-top: 0px;
  inline-size: 550px;
  background-color: rgb(179,91,139)
}
.sievice__info-2-t1{
  inline-size: 50%;
  color:white;
  text-align: left;
  font-weight: bold;
}

.sievice__info-2-t2{
  inline-size: 60%;
  color:white;
  margin-left: auto;
  margin-right: auto;

}

.service__info-3{
  padding: 50px 0;
  inline-size: 550px;
  background-color: RGB(178,136,158);  
}
.sievice__info-3-t1{
  inline-size: 50%;
  color:white;
  text-align: left;
  font-weight: bold;
}

.sievice__info-3-t2{
  inline-size: 60%;
  color:white;
  margin-left: auto;
  margin-right: auto;
}
 /*センタリング用*/
.service__info-2-txt{
  width:100%;
  margin:0px 0px 0px 50px;
  padding: 0px 0;

  font-size: 16px;
  font-weight: normal;
  text-align: left;
}.service__info-3-txt{
  width:100%;
  margin:0px 0px 0px 50px;
  padding: 0px 0;

  font-size: 16px;
  font-weight: normal;
  text-align: left;
}

/*----------------campany-about部分-----------------*/
.campany-about{
  width:60%;
  margin:0px 0px 40px 200px;
  padding: 45px 0;

  font-size: 16px;
  font-weight: normal;
  text-align: left;
}

table {
  width: 60%;
  border-collapse: collapse;
}
table th,
table td {
  border: 1px solid #ccc;
  padding: 20px;
}
table th {
  font-weight: bold;
  background-color: #dedede;
}

/*-------------------------blog部分-----------------*/
.gray-bg{
  background-color:rgb(245,245,245);
  padding: 70px 0;

}
.blog{
  width:70%;
  margin:0px 0px 30px 200px;
}

.flex__item{
  display: flex;
  justify-content: space-between;
}

.practice__card {
  width: 30%;
  border: solid 3px #ffffff;/*線*/
  border-radius: 10px;/*角の丸み*/
  background-color: #ffffff;
  
}


.card__content {
  padding: 15px 25px;
}

.card__ttl {
  font-size: 18px;
  margin-bottom: 30px;
}

.tag {
  font-size: 14px;
}

.card__tag {
  display: inline-block;
}

.card__date {
  display: inline-block;
  margin-left: 50px;
}

/*-----test---------*/
.example {
  position: relative;
  }

.example p {
  position: absolute;
  color: white;
  top: 0px;
  left: 0px;
  padding: 10px 25px;
  background: rgb(179,22,103);
  color: #fff;
  font-size: 16px;
  border-top-left-radius: 10px;
  }

.example img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


/*----------------お問い合わせ*---------------------*/
.contact__title{
  text-align:center;
}
.contact__title2{
  padding:  24px 0;
  text-align:center;
  font-size: 36px;
  color:#9900FF
}
.contact {
  padding: 24px 0;
  
}
/*----------会社情報（採用情報・社員インタビュー）-------*/
.campany{
  display: flex;
}

.campany-info{
  position: relative;
}

.camapny-info__title1{

}
  
.camapny-info__title2{
  
}


.campany-info__title1-logo{
  position: absolute;   
        font-size:30px;
        color: rgb(255, 255, 255);
        padding:0;
        margin:0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.campany-img{
  width: 100%;
  height: 100%;
  display: block;
}



/*----------------一覧ページへボタン-----------------*/
.blog__btn {
  width:150px;
  height:48px;
  line-height:48px;
  display:block;
  margin: 0px auto;
  text-decoration: none;
  background:#FFFFFF;
  text-align:center;
  border:2px solid #B52FFF;
  color:#B52FFF;
  font-size:16px;
  font-weight:bold;
  border-radius:23px;
  -webkit-border-radius:23px;
  -moz-border-radius:23px;
}
.blog__btn::before {
  content: "";

}

.blog__btn::after {

}


/*----------------お問い合わせボタン-----------------*/
.plactice__btn {
  position: relative;
  background: linear-gradient(270deg, rgb(100,23,104), rgb(252,30,141));
  width: 200px;
  display: block;
  padding: 18px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  margin: 0px auto 64px;
  box-shadow:0px 5px 0px 0px #610274 ;
  
}

.plactice__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  background: url(/img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
}

.plactice__btn::after {

}

/*----------------footer部分------------------------*/
footer{
  width:100%;
  margin:0px 0px 0px 0px;
  padding: 25px 0;

  font-size: 16px;
  font-weight: normal;
  text-align: left;
  text-align: center;
  background-color: rgb(245,245,245);
}